<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Registro de Consulta</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/sidebars.css}"/>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>
<body>
<nav th:replace="fragments/navbar :: #navbar"></nav>
<main id="dash" th:fragment="#dash(activeItem)">
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-black bg-opacity-75" style="width: 280px; height: 100%;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a th:href="@{/dashboard}" class="nav-link text-white" aria-current="page" th:classappend="${activeItem == null} ? 'active'">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{/consulta/nova}" class="nav-link text-white" th:classappend="${activeItem == 'consulta'} ? 'active'">
        Registrar Consulta
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{/receita}" class="nav-link text-white" th:classappend="${activeItem == 'receita'} ? 'active'">
        Receita Médica
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        Recibos
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        Exportar Registros
      </a>
    </li>
  </ul>
</div>
</main>
<script th:src="@{/js/jquery-3.6.0.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
<script th:src="@{/js/sidebars.js}" type="text/javascript"></script>
</body>
</html>