<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Registro de Consulta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/solid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebars.css}"/>
</head>
<body>
<main>
    <div th:replace="fragments/sidebar :: sidebar ('pacientes')"></div>
    <div class="b-example-divider"></div>
    <div class="container container-fluid mt-3">
        <div class="row">
            <div class="col">
                <h1 class="h2">Editar Paciente</h1>
            </div>
            <div class="col">
                <a th:href="@{/pacientes}" class="btn btn-danger float-end">
                    <i class="fas fa-minus-circle"></i>
                    <span class="m-1">
                        Cancelar
                    </span>
                </a>
            </div>
            <hr>
        </div>
        <div class="row">
            <form th:action="@{/pacientes}" th:object="${paciente}" th:method="put">
                <div class="row mb-3">
                    <label for="nome" class="col-sm-3 col-form-label">Nome</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{nome}" class="form-control" id="nome" name="nome">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="email" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{email}" class="form-control" id="email" name="email">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="dataNascimento" class="col-sm-3 col-form-label">Data de Nascimento</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" th:field="*{dataNascimento}" id="dataNascimento" name="dataNascimento">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="sexo" class="col-sm-3 col-form-label">Sexo</label>
                    <div class="col-sm-9">
                        <select class="form-select" name="sexo" id="sexo">
                            <option value="">Selecione</option>
                            <option th:each="sexo : ${sexos}"
                                    th:value="${sexo}"
                                    th:text="${sexo}">Sexo</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="observacoes" class="col-sm-3 col-form-label">Observações</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="observacoes" th:field="*{observacoes}" id="observacoes"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-success float-end">Alterar</button>
            </form>
        </div>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
<script th:src="@{/js/sidebars.js}" type="text/javascript"></script>
</body>
</html>