<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Registro de Consulta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/solid.min.css}"/>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebars.css}"/>
</head>
<body>
<main>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a th:href="@{/consultas}" class="nav-link text-white" aria-current="page">
                    Consultas
                </a>
            </li>
            <li>
                <a th:href="@{/pacientes}" class="nav-link text-white active">
                    Pacientes
                </a>
            </li>
            <li>
                <a th:href="@{/receitas}" class="nav-link text-white">
                    Receitas
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    Recibos
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    Exportar Registros
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <strong>mdo</strong>
            </a>
        </div>
    </div>
    <div class="b-example-divider"></div>
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h1 class="h2">Pacientes</h1>
            </div>
            <div class="col">
                <a th:href="@{/pacientes/novo}" class="btn btn-primary float-end">
                    <i class="fas fa-plus-circle"></i>
                    <span class="m-1">
                        Novo Paciente
                    </span>
                </a>
            </div>
            <hr>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <th>Nome</th>
                    <th>Sexo</th>
                    <th>Data Nascimento</th>
                    <th></th>
                </thead>
                <tbody th:if="${#lists.isEmpty(pacientes)}">
                    <td colspan="4">Nenhum paciente encontrado.</td>
                </tbody>
                <tbody th:unless="${#lists.isEmpty(pacientes)}">
                    <tr data-th-each="paciente : ${pacientes}">
                        <td data-th-text="${paciente.nome}"></td>
                        <td data-th-text="${paciente.sexo}"></td>
                        <td data-th-text="${paciente.dataNascimentoFormatted}"></td>
                        <td>
                            <form th:action="@{/pacientes}" th:method="delete" class="d-inline">
                                <input type="hidden" name="codigo" id="codigo" th:value="${paciente.id}">
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-minus-circle"></i>
                                    Excluir
                                </button>
                            </form>
                            <a th:href="@{/pacientes/{codigo}(codigo=${paciente.id})}" class="btn btn-success">
                                <i class="fas fa-edit"></i>
                                Editar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>